*.pyc
*.pth
rope_dataset/
segmentation_module/models/
segmentation_module/pipeline_dataset/
segmentation_module/rope_dataset/
segmentation_module/rope_dataset_v2/
aqua_mrl/YOLOv7/weights/
checkpoints/
evaluations/
trajectories/
experiments/
pid_expert/
diver_dataset/
pipe_dataset/
dqn_weights/
experiments_td3/
pid_evaluations/
dqn_evaluations/
rarl_evaluations/
plots/